body
{
  background-color:black;
  font-family: 'Vujahday Script', cursive;
    
  margin: 0px;
 
}
/* this is the nav bar at the top that slides down when you hover over it */



.menu
{
  position:fixed;
  left:0px;
  top:-60px;
  
  width:100%;
  padding:20px;
  text-align:center;
  
  background-color:rgba(0, 17, 255, 0.9);
  box-shadow: 0px 2px 5px rgba(38, 0, 255, 0.6);
  
  font-size:30px;
  color:white;
  

  
  transition:top 1s;
  -webkit-transition:top 1s;
 
  z-index: 1;
}

.menu:hover
{
  top:0px;  
}


.menu span
{
  margin:30px;  
}

.menu span a:hover
{
  color:rgba(255,255,255,0.5);  
}


a
{
  text-decoration:none;
  color:white;
}

/*This is the arrow pointing to the nav bar, in the future id like to have this and the text disappear when you scroll down*/

#arrow1 {
    position:absolute;
    float: right; 
    padding-left: 500px;
    padding-top: 10px;
    font-size: 40px;
  text-align: center;
  -webkit-animation: glow .3s ease-in-out infinite alternate;
  
}
/*this is the flow animation for both the arrow and my name  */
@-webkit-keyframes glow  {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1100ff, 0 0 40px #1100ff, 0 0 50px #1100ff, 0 0 60px #1100ff, 0 0 70px #1100ff;
  }
 
}  

h3{
    font-family: 'Vujahday Script', cursive;
    color: white;
    padding-left: 500px;
    padding-top: 70px;
    font-size: 20px;

}

#Ethan-Fox {
    
  
  -webkit-animation: glow 1.2s ease-in-out infinite alternate;
  font-size: 60px;
}

#Hello {
    
  
  
  font-size: 50px;
  
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1100ff, 0 0 40px #1100ff, 0 0 50px #1100ff, 0 0 60px #1100ff, 0 0 70px #1100ff;
  }
    
}

.intro {
    text-align: center;
    padding-top: 200px;
    font-family: 'Vujahday Script', cursive;
    color: white;
    
    
}

h1{

  font-size: 50px;
text-align: center;

}

.intro-paragraph {
text-align: center;
font-size: 30px;
padding-top: 70px;

}

/* this is a character that i created in a 32 bit avatar creator */
#mini-me{

 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  padding-top: 50px;
}

/*making this ID allows me to expand in the future and still be able to keep the flex properties  */
#projects {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
  padding-top: 800px;
  
}


.projects {
  outline: 0;
  
  display: inline-block;
  
  font-size: 40px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ffffff;
  background:transparent;
  color: black;
  font-weight: 600;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
  height: 550px;
  width: 650px;
border-radius: 8px;
text-align: center;
display: flex;
display: inline;
margin: 50px;
font-family: 'Vujahday Script', cursive;


  
}

/* this is for the hover animation for the projects  */
.projects:hover {
  background-color: transparent;
  color: #000;
  box-shadow: 0 0 5px #1100ff,
              0 0 20px #0400ffcc,
              0 0 35px #1100ffb3,
              0 0 50px #003cff99;
  border-color: #fff;
}

#projects-title{

  font-size: 60px;
  position: relative;
  top: 800px;
}

#contact-me-header {
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 900px;
}


#social-links{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 0px;
  gap: 30px;
  
  }



.button {
  outline: 0;
  
  display: inline-block;
  
  font-size: 40px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ffffff;
  background:transparent;
  color: black;
  font-weight: 600;
  transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
  height: 200px;
  width: 400px;
border-radius: 8px;
text-align: center;
display: flex;
display: inline;

font-family: 'Vujahday Script', cursive;


  
}




.button:hover {
  background-color: transparent;
  color: #000;
  box-shadow: 0 0 5px #ff0000,
              0 0 20px #ff0000cc,
              0 0 35px #ff0000b3,
              0 0 50px #ff000099;
  border-color: #fff;
}

.body{
  min-height: 100vh;
}





* {
  margin: 0;
  padding: 0;
}



/*  */

.footer{
  

  width: 100%;
  height: 2.5rem;
  color: white;
  text-align: center;
  clear: both;
  margin-top: 50px;
  border-top: 1px solid black;
  font-size: 20px;
  
  
  
}